<div class="container">
    <app-confetti class="confetti" *ngIf="showConfetti"/>
    <div class="text">
      <app-title class="title" [text1]="'Save'" [text2]="'The'" [text3]="'Date'" [fontSizeContainer]="'6rem'" [lineHeight]="'4rem'"/>
      <app-title class="title" [text1]="''" [text2]="'FOR'" [text3]="''" [fontSizeContainer]="'2rem'" [lineHeight]="'4rem'"/>
      <app-title class="title" [text1]="'Naren'" [text2]="'and'" [text3]="priyo" [fontSizeContainer]="'8rem'" [lineHeight]="'4rem'"/>
    </div>
      <div class="text">
        <app-title class="title" [text1]="'Save'" [text2]="'The'" [text3]="'Date'" [fontSizeContainer]="'6rem'" [lineHeight]="'4rem'"/>
        <app-title class="title" [text1]="''" [text2]="'FOR'" [text3]="''" [fontSizeContainer]="'2rem'" [lineHeight]="'2rem'"/>
        <app-title class="title" [text1]="'Naren'" [text2]="'and'" [text3]="priyo" [fontSizeContainer]="'8rem'" [lineHeight]="'4rem'"/>
      </div>
  </div>
  